.homeContainer {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.card-body {
  background: rgb(135, 18, 82);
  background: radial-gradient(
    circle,
    rgba(135, 18, 82, 1) 0%,
    rgba(250, 83, 100, 1) 89%
  );
}
