.navBar a {
  text-decoration: none;
}

.userContainer {
  position: relative;
  margin-right: 30px;
  text-align: center;
}

.userContainer img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.userDropDown {
  position: absolute;
  left: 30px;
  width: 150px;
  text-align: center;
}

.userDropDown ul {
  list-style-type: none;
}

.userDropDown ul li {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: 2px solid darkblue;
  cursor: pointer;
}
