.navBar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 0 15px 15px 0;
  height: 100vh;
  transition: 0.6s;
}

.navBar a {
  text-decoration: none;
}

.userContainer {
  position: relative;
  margin-right: 30px;
  text-align: center;
}

.userContainer img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
}

.userDropDown {
  position: absolute;
  left: 30px;
  width: 150px;
  text-align: center;
}

.userDropDown ul {
  list-style-type: none;
}

.userDropDown ul li {
  width: 100px;
  height: 30px;
  margin-top: 10px;

  cursor: pointer;
}

.userDropDown ul li:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
}

.mobile {
  transform: translateX(-250px);
}
