#root {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 10px;
}

.signup {
  height: 100vh;
}

.autosingup .btn {
  width: 350px;
  height: 75px;
  cursor: auto;
}

.btn {
  outline: none;
  border: none;
}

.autosingup .btn:hover {
  background-color: white;
  color: black;
}

.google {
  background-color: #ff0000;
}

.facebook {
  background-color: #4267b2;
}

.github {
  background-color: #000000;
}

#password,
#repeatPassword {
  position: relative;
}

#password svg {
  position: absolute;
  right: 10px;
  top: 66%;
}

#repeatPassword svg {
  position: absolute;
  right: 10px;
  top: 66%;
}
