.signup {
  height: 100vh;
}

.autosingup .btn {
  width: 350px;
  height: 75px;
  cursor: pointer;
}

.btn {
  outline: none;
  border: none;
}

.autosingup .btn:hover {
  background-color: white;
  color: black;
}

.google {
  background-color: #ff0000;
}

.facebook {
  background-color: #4267b2;
}

.github {
  background-color: #000000;
}
