.App {
  display: grid;
  grid-template-columns: 250px repeat(4, 1fr) 80px;
  grid-template-rows: 310px repeat(4, 1fr) 80px;
}

.navBar {
  grid-column: 1/2;
  grid-row: 1/6;
}

.homeContainer {
  grid-column: 2/6;
  grid-row: 1/6;
}

.footer {
  grid-column: 1/7;
  grid-row: 5/6;
  margin-inline: center;
}

.login,
.signup {
  grid-column: 1/7;
  grid-row: 1/6;
}

.mobileView {
  grid-column: 2/6;
  grid-row: 1/6;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .App {
    grid-template-columns: 185px repeat(4, 1fr) 80px;
  }
}
